<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847895558470-g30hhgnp68tvf729strui6acf6urca3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847895558470-g30hhgnp68tvf729strui6acf6urca3e</string>
	<key>API_KEY</key>
	<string>AIzaSyCdnunLSzKxrmnA60oS8rvuliVTb3ZDFYY</string>
	<key>GCM_SENDER_ID</key>
	<string>847895558470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.IgnatianPractices</string>
	<key>PROJECT_ID</key>
	<string>ignatianpractices</string>
	<key>STORAGE_BUCKET</key>
	<string>ignatianpractices.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847895558470:ios:67dee81b73ac439145cd47</string>
</dict>
</plist>